#container {
  position: relative;
  height: 400px;
  width: 400px;
  background: yellow;
}

#animate {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
  transition: 5ms;
}
